h1 a, h2 a {
    color: #00FF00;
}
h1 a{
    font-family: 'Rubik 80s Fade';
    text-align: center;
    padding-left: 40px;
}

h2{
    padding-left: 20px;
}
.test{
    color: #00FF00;
}
.header {
overflow: hidden;
background-color: #f8b00f;
padding: 20px 10px;
}

.header a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 15px;
line-height: 25px;
border-radius: 5px;
}
.header a.logo {
font-size: 25px;
font-weight: bold;
font-family: 'Rubik 80s Fade';
}
.header a:hover {
background-color: grey;
color: black;
}
.header a.active {
background-color: green;
color: white;
margin-left: 5px;
}
.header-right {
float: right;
}
@media screen and (max-width: 590px) {
.header a {
float: none;
display: block;
text-align: left;
}
.header-right {
float: none;
}}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

main{
flex-grow: 1;
}

.footer{
left: 0;
width: 100%;
height: 40px;
background-color: #f8b00f;
text-align: center;
}
.footer a {
float: center;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 15px;
line-height: 25px;
border-radius: 5px;
}

.signin{
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  height: 300px;
  width: 500px;
  margin: auto;
  margin-top: 200px;
  box-shadow: 0px 15px 125px -5px #000;}

.signup{
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  height: 650px;
  width: 520px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 15px 125px -5px #000;}

.kablist {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kab{
  padding: 10px;
  text-align: center;
}

.kablist img {
  width: 100%;
  height: auto;
}

.cab_detail{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 270px;
    column-gap: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
    height: 300px;
    border: 1px solid #ccc;
}
.cabdetailimage {
        float: left;
        height: 100%;
        width: auto;
    }

.cabdetailtext {
        display: inline;
    }

.cabdetailtext h3{
    font-weight: bold;
    font-size: 64px;
}
.cabdetailtext p{
    font-size: 21px;
}

.comment_list {
    margin: auto;
    width: 50%;
}

.comment{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comm_author{
    font-size: 21px;
    font-weight: bold;
}

.new_comm{
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 10px;

}

.new_comm h2{
    font-size: 38px;
    font-weight: bold;
}